extends layout

block vars
	- var pageTitle = 'Home'
	
block content
	div.container
		#user
			h1 Welcome #{user.firstName}.
			if successMessage
				div.alert.alert-success #{successMessage}
			if errorMessage
				div.alert.alert-danger #{errorMessage}
			if !user.credentials.exerciseDotCom.username
				div
					a(href='/settings', class='btn btn-primary') Register Exercise.com
			div
				a(href='/mod', class='btn btn-info download') Download Mod
			div
				a(href='/signout', class='btn btn-danger sign-out') Sign Out
