extends layout

block vars
	- var pageTitle = 'Home'
	
block content
	div.container
		#user
			h1 Welcome #{user.firstName}.
			if successMessage
				div.alert.alert-success #{successMessage}
			if errorMessage
				div.alert.alert-danger #{errorMessage}
			div(class='btn-group')
				button(type='button', class='btn btn-primary dropdown-toggle', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Register Tracker
					span(class='caret')
				ul(class='dropdown-menu')
					li
						a(href='/settings') Exercise.com
					li
						a(href='#') More coming soon!
			div
				a(href='/signout', class='btn btn-danger sign-out') Sign Out
