extends layout

block content
	h1 How to install the mod
	h2 ACCOUNT SETUP INSTRUCTIONS
	ol
		li If you do not have an exercise.com account, create one 
			a(href=' https://www.exercise.com') here.
		li Create an account on the 
			a(href='../signup') Exergaming Portal.
		li Click register tracker and select exercise.com.
		li Enter your exercise.com account details and click register, this may take a few minutes to process.

	h2 LOGGING WORKOUTS
	ol
		li Log into exercise.com using the account you created earlier.
		li Log your workout by pressing the “Log Workout” button.
		li Your exercise will be available in skyrim within 20 minutes, or after pressing the force fetch button.

	h2 TO INSTALL
	ol
		li Install Nexus Mod Manager 
			a(href='​http://www.nexusmods.com/skyrim/mods/modmanager/​') here
			, Create an account if necessary.
		li Install SKSE
			ol
				li Download 
					a(href='​http://skse.silverlock.org/beta/skse_1_07_03_installer.exe') SKSE
				li Run the installer
		li Install SkyUI
			ol ​
				li Downaload 
					a(href='http://www.nexusmods.com/skyrim/mods/3863/​') SkyUI
				li Follow installation instructions there, make sure to activate the mod in the nexus mod manager.
		li Download and unzip the 
			a(href='./mod/download') latest version of the mod
			, move the Data folder to the [steam install directory]\steamapps\common\Skyrim (Usually at C:\Program Files (x86)\Steam\steamapps\common\Skyrim). Copy and replace as needed.

	h2 TO USE
	p Launch Skyrim, making sure to check Data Files in the launcher for P4PJakTanNPC.esp, check/enable this if not checked already. Click OK and press PLAY.

	p When in game, open the Exergaming menu in Mod Configuration menu. This is available from the in game menu. Turn the mod on from here. You will be asked to enter a username. Enter the email address you set up previously in the portal.
